:root {
    --bg: #1b1f27;
    --bbg: #1e222a;
    --lbg: #22262e;
    --fg: #d7dce8;
    --accent: #78aad8;
}
@font-face {
    font-family: 'font';
    src: url(https://rawgit.com/ryanoasis/nerd-fonts/master/patched-fonts/JetBrainsMono/Ligatures/Regular/complete/JetBrains%20Mono%20Regular%20Nerd%20Font%20Complete.ttf) format('truetype');
}
h {
    outline: 1px solid red;
}
html,
body {
    min-height: 100vh;
}
h1,
p {
    margin: 0;
}
body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font';
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: calc(717.583px - 40px);
}
.widget {
    background-color: var(--lbg);
    padding: 20px;
    border-radius: 8px;
}
h1 {
    font-size: 25px;
}
.left {
    background-image: url(https://cdn.discordapp.com/attachments/978279332646633502/1012067558578470992/unknown.png);
    height: 400px;
    width: 128px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.left .text {
    width: 1ch;
    padding: 0.5ch 1ch;
    word-break: break-all;
    background-color: var(--lbg);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    opacity: 0.8;
}
.right {
    max-height: 400px;
}
.right .widget {
    padding: 37.5px 40px;
}
.tpmd {
    height: 350px;
    margin-bottom: 40px;
}
.top h1 {
    margin-bottom: 10px;
}
.middle pre {
    margin: 0;
    font-size: 16px;
}
.middle {
    margin: 40px 0;
    height: 95px;
}
.widget-form {
    margin: 0 !important;
    padding: 0 20px !important;
    height: 50px;
}
.widget-form {
    display: flex;
}
.widget-form input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--fg);
    font-family: 'font';
}
.widget-form input:focus,
.widget-form button:focus {
    outline: none;
}
.widget-form button {
    background-color: transparent;
    border: none;
    color: var(--fg);
}
.widget-form button:focus,
.widget-form button:hover {
    transition: color 0.3s;
    color: var(--accent);
}
.break {
    flex-basis: 100%;
    height: 0;
    width: 0;
}
.bottom {
    margin-top: 40px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom a {
    color: #eee;
    margin: 30px 15px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 30px;
    flex: 1;
}
.bottom a:hover {
    color: var(--accent);
}
